body {
    background-image:url(./Images/logo\ for\ about\ HTML.jpg) ;
    background-size: cover;
}
div {
    background-color: rgb(190, 0, 0);
    color: white;
    border: 3px solid black;
}